<!DOCTYPE html>
<html>
  <head>
    <title>Cosmit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="header__bar">
        <h1 class="header-logo"><a href="/">Cosmit</a></h1>
        <div class="header-nav__list">
          <div class="nav-user">
          </div>
          <a class="post" href="/items/new">登録する</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
